<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <title>ο ντυμένος</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha512-5SUkiwmm+0AiJEaCiS5nu/ZKPodeuInbQ7CiSrSnUHe11dJpQ8o4J1DU/rw4gxk/O+WBpGYAZbb8e17CDEoESw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="banner">
      <div class="banner__overlay">
        <div class="banner__container">
          <h1 class="banner__title">ο ντυμένος</h1>
          <p class="banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <a href="#" class="btn btn--opacity">SHOP</a>
        </div>
        <img class="banner__scroll-down" src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiNGRkZGRkYiLz4KICA8L2c+Cjwvc3ZnPgo=" />
      </div>
    </div>
    <div class="sect sect--type">
      <div class="container">
        <div class="row row--center">
          <div class="col-md-5 col-xs-8 col-sm-6 col--inbl">
            <h1 class="sect__title">Our Collections!</h1>
          <p class="sect__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          </div>
        </div>
        <div class="row row--small row--margin row--center">
          <div class="col-md-4 col-sm-4 shirt">
            <img src="https://i.ibb.co/dm2XK1H/image-removebg-preview.png" class="shirt__img">
            <h2 class="shirt__name">Lorem Ipsum</h2>
            <p class="shirt__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id purus pulvinar, interdum ligula sed, placerat odio.
            </p>
          </div>
          
          <div class="col-md-4 col-sm-4 shirt">
            <img src="https://i.ibb.co/dm2XK1H/image-removebg-preview.png" class="shirt__img">
            <h2 class="shirt__name">Lorem Ipsum</h2>
            <p class="shirt__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id purus pulvinar, interdum ligula sed, placerat odio.
            </p>
          </div>
          
           <div class="col-md-4 col-sm-4 shirt">
            <img src="https://i.ibb.co/dm2XK1H/image-removebg-preview.png" class="shirt__img">
            <h2 class="shirt__name">Lorem Ipsum</h2>
            <p class="shirt__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id purus pulvinar, interdum ligula sed, placerat odio.
            </p>
          </div>  
        </div>
           <div class="row row--margin row--center">
             <a href="#" class="btn">Full menu</a>
           </div>
      </div>
    </div>
    <div class="sect sect--brown sect--no-bottom">
      <div class="container">
        <div class="row row--center">
          <div class="col-md-5 col-sm-6 col--inbl ">
            <h1 class="sect__title sect--white-text">Our Story</h1>
          <p class="sect__subtitle sect--white-text">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
          </p>
          </div>
        </div>
    </div>
      </div>
      <div class="story-img"></div>
    
    <div class="half-sect">
      <div class="half half-sect__first">
        <div class="description">
          <h2 class="description__title">FRESH BEANS</h2>
          <p class="description__p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <a href="#" class="btn">Learn more</a>
        </div>
    
      </div>
        <div class="half half-sect__second">  </div>
    </div>
    
    <div class="sect sect--great">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-7 col-sm-offset-4 col-md-offset-6">
            <div class="description">
          <h2 class="description__title">GREAT shirt</h2>
          <p class="description__p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <a href="#" class="btn">Learn more</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="sect sect--best sect--center">
      <div class="container">
        <div class="row row--center">
          <div class="col-md-6 col-sm-7 col-xs-12">
            <h1 class="sect__title best--bottom sect--white-text">The best shirt shop</h1>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="https://image.ibb.co/n5gUtm/icon_1.png" class="best__img">
                <h2 class="best__title">Best beans</h2>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="https://image.ibb.co/dwEXDm/icon_2.png" class="best__img">
                <h2 class="best__title">Best beans</h2>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <img src="https://image.ibb.co/j5Og66/icon_3.png" class="best__img">
                <h2 class="best__title">Best beans</h2>
              </div>
            </div>
            
          <p class="sect__subtitle best--margin sect--white-text ">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, omnis iste natus error sit voluptatem accusantium doloremque, totam rem aperiam, voluptatem accusantium doloremque.
          </p>
            <a href="#" class="btn btn--top">About us</a>
          </div>
        </div>
    </div>
      </div>
    
    
    <div class="three-img">
      <div class="col-md-4 col-sm-4 col-xs-4 three-img__img three-img--1"></div>
        <div class="col-md-4 col-xs-4 col-sm-4 three-img__img three-img--2"></div>
        <div class="col-md-4 col-xs-4 col-sm-4 three-img__img three-img--3"></div>
    </div>
    
    
    <div class="sect blog sect--grey">
      <div class="container">
        <div class="row row--center">
          <div class="col-md-5 col-sm-6 col--inbl">
            <h1 class="sect__title">Latest from blog</h1>
            <p class="sect__subtitle">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
          </p>
          </div>
        </div>
        <div class="row last-articles">
          <div class="col-md-4 col-sm-4">
            <div class="article-pre article-pre-1">
                 <div class="article-pre__img">
                 </div>
              <div class="article-pre__info">
              <h1 class="article-pre__title">
                THE GREAT OUTDOORS
              </h1>
              <span class="article-pre__date">Sep 27, 2017</span>
              <p class="article-pre__ex">
                Augue interdum velit euismod in pellentesque massa. Amet nisl suscipit adipiscing bibendum est ultricies integer. In aliquam sem fringilla ut. Velit scelerisque in dictum non consectetur a erat. Tortor posuere ac ut consequat semper viverra nam. Commodo viverra maecenas accumsan lacus vel facilisis. Tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>
            </div>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4">
            <div class="article-pre article-pre-2">
                 <div class="article-pre__img">
                 </div>
              <div class="article-pre__info">
              <h1 class="article-pre__title">
                SHARED MEMORIES
              </h1>
              <span class="article-pre__date">Sep 27, 2017</span>
              <p class="article-pre__ex">
                Augue interdum velit euismod in pellentesque massa. Amet nisl suscipit adipiscing bibendum est ultricies integer. In aliquam sem fringilla ut. Velit scelerisque in dictum non consectetur a erat. Tortor posuere ac ut consequat semper viverra nam. Commodo viverra maecenas accumsan lacus vel facilisis. Tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>
            </div>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-4">
            <div class="article-pre article-pre-3">
                 <div class="article-pre__img">
                 </div>
              <div class="article-pre__info">
              <h1 class="article-pre__title">
                THE LOOKOUT
              </h1>
              <span class="article-pre__date">Sep 27, 2017</span>
              <p class="article-pre__ex">
                Augue interdum velit euismod in pellentesque massa. Amet nisl suscipit adipiscing bibendum est ultricies integer. In aliquam sem fringilla ut. Velit scelerisque in dictum non consectetur a erat. Tortor posuere ac ut consequat semper viverra nam. Commodo viverra maecenas accumsan lacus vel facilisis. Tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>
            </div>
            </div>
          </div>                                   
        </div>
        <div class="row row--margin row--center">
             <a href="#" class="btn">Browse menu</a>
        </div>
     </div>
    </div>
    <div class="sect-t-footer"></div>
    
    <footer class="footer">
      <div class="footer__half footer__half-1">
            <h2 class="footer__big-title">Follow our Socials!</h2>   
        <h3 class="footer__title">Tiktok</h3>
        <p class="footer__desc">@busy_man74</p>
        <h3 class="footer__title">Lorem Ipsum</h3>
        <p class="footer__desc">Lorem Ipsum</p>
        <a href="#" class="btn">Browse Collections</a>
      </div>
      <div class="footer__half footer__half-2">
        <h2 class="footer__big-title">CONTACT</h2>
        <h3 class="footer__title">Phone</h3>
        <p class="footer__desc">+(438) 928 1646</p>
        <h3 class="footer__title">Mail</h3>
        <p class="footer__desc">exemple@test.com</p>
        <p class="footer__desc">Tristan Industries ©<br>
          2022 All Rights Reserved
        </p>
      </div>
    </footer>
    </body>